<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NBA Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/teamStyle.css">
    </head>
    <body>


        <h1>NBA Team Data</h1>
    
      
     
        <div id="team-container" class="team-container">
            <button id="getData">Get Team</button>
            <div id="output"></div>
        </div>
    
        <script src="/teamscript.js" async defer></script>
    </body>
</html>